<DocsDemo as |demo|>
  <demo.example @name='one-way-input-mask-demo-4.hbs'>
    <OneWayInputMask
      @value={{this.masked}}
      @mask='aa-99-**'
      @update={{this.onupdate}}
      class='docs-border docs-border-grey'
    />
  </demo.example>

  <p>unmasked: {{this.unmasked}}</p>
  <p>masked: {{this.masked}}</p>

  <demo.snippet @name='one-way-input-mask-demo-4.hbs' />
  <demo.snippet @name='one-way-input-mask-demo-4.js' @label='component.js' />
</DocsDemo>